@import url("http://fonts.googleapis.com/css?family=Dosis:600");
/*VARIABLES*/
/*MIXINS*/
#noMargin {
  margin: 0px;
  padding: 0px;
}
#lineStyle {
  background-color: #ffffff;
  width: 24px;
  height: 2px;
}
/*----- GENERAL -*/
body {
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  background-color: #493458;
  margin: 0px;
  padding: 0px;
}
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/*-----------------------------------------------
MOBILE
Content of mobile menu
-----------------------------------------------*/
.mobile {
  padding: 40px;
}
/*-----------------------------------------------
LABEL
-----------------------------------------------*/
.mobile__label {
  border: solid 2px white;
  display: inline-block;
  overflow: hidden;
  padding: 12px 9px;
  width: 24px;
  white-space: nowrap;
}
.mobile__label:hover {
  cursor: pointer;
}
.mobile__label:hover .label__line {
  margin-left: 0px;
}
.label__line {
  background-color: #ffffff;
  width: 24px;
  height: 2px;
  display: inline-block;
  margin-left: -33px;
  margin-right: 39px;
  transition: margin-left 0.2s linear;
  /*&:before{
      #lineStyle();
      content:'';
      display:inline-block;
    }*/
}
.label__line:last-child {
  /*margin-bottom:0px;*/
}
/*-----------------------------------------------
INPUT
-----------------------------------------------*/
.mobile__input {
  display: none;
}
/*-----------------------------------------------
NAV
-----------------------------------------------*/
.mobile__nav {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: max-height 1s linear, max-width 5s linear;
}
.nav__item {
  white-space: nowrap;
}
.nav__item a {
  text-decoration: none;
  display: block;
  padding: 5px 0px;
  color: #ffffff;
}
.nav__item a:after {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  content: '';
}
.mobile__input:checked + .mobile__nav {
  max-width: 500px;
  max-height: 500px;
}
